# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Scoala\MASTER\Sem 1\Data mining\Probleme si rezolvari\Proiect\ImageSegmentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
